.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin: auto;
  background: #f0ebd8;
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
}
